* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  cursor: pointer;
  width: 100%;
  height: 80px;
  background-color: aquamarine;
}
ul {
  display: flex;
  align-items: center;
  padding: 25px;
}
ul li {
  list-style-type: none;
  margin-right: 20px;
}

